<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoFinder</title>
    <style>
        #map {
            height: 670px;
            width: 1090px;
        }
    </style>
</head>
<body>
<div id="map"></div>

<script>
    function initMap() {
        var unijorge = { lat: -12.937489327167622, lng: -38.410743504289414 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: unijorge
        });

        var markerUnijorge = new google.maps.Marker({
            position: unijorge,
            map: map,
            title: 'UNIJORGE'
        });

        var destinations = [
            { lat: -12.97767210102476, lng: -38.455208088946826, name: 'Salvador Shopping' },
            { lat: -12.983631969146423, lng: -38.493512690795605, name: 'Atacadão - Salvador Bonocô' },
            { lat: -12.985708809386635, lng: -38.45748884232887, name: 'Drogasil - Caminho das Árvores' },
            { lat: -12.993233420020353, lng: -38.45993518020606, name: 'Drogaria São Paulo - Pituba' }
        ];

        destinations.forEach(function(destination) {
            var marker = new google.maps.Marker({
                position: { lat: destination.lat, lng: destination.lng },
                map: map,
                title: destination.name
            });

            var directionsService = new google.maps.DirectionsService();
            var directionsDisplay = new google.maps.DirectionsRenderer({
                map: map,
                suppressMarkers: true
            });

            var request = {
                origin: unijorge,
                destination: { lat: destination.lat, lng: destination.lng },
                travelMode: 'DRIVING'
            };

            directionsService.route(request, function(result, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(result);
                } else {
                    window.alert('Não foi possível calcular a rota devido a ' + status);
                }
            });
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=(API_KEY_HERE)&callback=initMap" async defer></script>
</body>
</html>
