<!--
<!DOCTYPE html>
<html>
<head>
  <title>Simple Marker</title>
  <script async src="https://maps.googleapis.com/maps/api/js?key=(MINHA CHAVE)=console.debug&libraries=maps,marker&v=beta">
  </script>
  <link rel="stylesheet" href="./styleMap.css"/>
</head>
<body>
<gmp-map center="-12.977682555820747, -38.45524027545352" zoom="15" map-id="DEMO_MAP_ID">
  <gmp-advanced-marker position="-12.977682555820747, -38.45524027545352" title="SHOPPING"></gmp-advanced-marker>
</gmp-map>
</body>
</html>
-->
